<launch>
    <node
        pkg="gnss_gridmap" type="gnss_gridmap_node" name="gnss_gridmap_node" output = "screen"> 
        <param name="robot_radius"     value="2"/>
        <param name="tool_radius"      value="0"/>
        <param name="resolution"       value="1"/>
        <param name="division_value"   value="0.2"/>
        
<!--            Path planning will start from here. Input: x, y, z, roll, pitch, yaw (in map frame)-->
        <param name="start_pose"     value="0 00 0 0 0 150"/>
        <param name="offset_angel"   value="90"/>
        <param name="map_file"       value="$(find gnss_gridmap)/../../../txt2pg/begin1.txt"/>
        <param name="path_file"      value="$(find gnss_gridmap)/../../../txt2pg/boustrophedon.txt"/>
        <param name="edgepath_file"  value="$(find gnss_gridmap)/../../../txt2pg/edgepath.txt"/>
        <param name="jinweidu_file"  value="$(find gnss_gridmap)/../../../txt2pg/1.txt"/>
        <param name="task_point_file"  value="$(find gnss_gridmap)/../../../txt2pg/task_point.txt"/>
        
<!--                              参数调节                      -->
        <!-- <param name="BoustrophedonSTC/boundary_points" value="0,0;-70,26;-57,55;29,75;" />  //作业区域坐标点 格式x,y; -->
        <param name="BoustrophedonSTC/boundary_points" value="107.743040354,30.692300781;107.743312041,30.691669738;107.743620438,30.691784357;107.743833671,30.692563650;" /> 
         <!-- <param name="BoustrophedonSTC/boundary_points" value="0,0;250,50;300,180;220,300;80,290;40,170;" /> -->
<!-- <param name="BoustrophedonSTC/boundary_points" 
       value="106.279992990,29.406326770;106.280100242,29.406496264;106.280250242,29.406426264;106.280180242,29.406256264;"/> -->
<!-- <param name="BoustrophedonSTC/boundary_points" 
       value="106.279992990,29.406326770;106.280172990,29.406536770;106.280342990,29.406406770;106.280212990,29.406176770;"/> -->
<!-- <param name="BoustrophedonSTC/boundary_points" 
       value="106.279992990,29.406326770;106.280312990,29.406406770;106.280442990,29.406576770;106.280172990,29.406516770;"/> -->
         <!-- <param name="BoustrophedonSTC/boundary_points" value="107.742000000,30.693000000;107.744000000,30.693000000;107.743000000,30.691000000;" /> -->
         <!-- <param name="BoustrophedonSTC/boundary_points" value="107.743000000,30.693000000;107.744000000,30.692500000;107.743800000,30.691500000;107.742200000,30.691500000;107.742000000,30.692500000;" /> -->
         <!-- <param name="BoustrophedonSTC/boundary_points" value="106.279992990,29.406326770;106.279992990,29.406596264;106.280200242,29.406596264;106.280200242,29.406326770;" /> -->
         <!-- <param name="BoustrophedonSTC/boundary_points" 
       value="106.279992990,29.406326770;106.280200242,29.406326770;106.280200242,29.406596264;106.279992990,29.406596264;" /> -->

        <param name="BoustrophedonSTC/path_pattern" value="contour_spiral " />       //路径选择 牛耕式：boustrophedon 方形内螺旋：inner_spiral 多边形内螺旋：contour_spiral 多边形往复式：polygon_boustrophedon
        <param name="BoustrophedonSTC/use_custom_boundary" value="true" />
        <param name="BoustrophedonSTC/contour_spacing" value="2.0" />               //作业间距 一般设定为农机宽度
        <param name="BoustrophedonSTC/min_optimization_factor" value="0.3" />       
        <param name="BoustrophedonSTC/connection_step_factor" value="0.5" />  
        <param name="BoustrophedonSTC/min_layer_area_ratio" value="0.1" />          //螺旋停止条件，调小会填满内部，调大会留白
        <param name="BoustrophedonSTC/max_contour_layers" value="1000" />
        <param name="BoustrophedonSTC/robot_radius" value="0.5" />
        <param name="BoustrophedonSTC/tool_radius" value="1.0" />
    </node>
</launch>
